/*Alexandra Proxenia, student_number 17419237*/
body {
  font-family: 'Taviraj', serif;/*google webfont API*/
}
ul {
list-style: none;
background-color: pink;
padding: 0px;
margin: 0;
padding: 0;
}
li:hover {background-color: yellow;
color: white;
}
li {display:inline;}
ul {list-style-type: none;
margin: 0;
padding: 0;
}
