/*Alexandra Proxenia, student_number 17419237*/
/*font*/
body {
font-family: 'Taviraj', serif;/*google webfont API*/
max-width: 750px;/*width depend of the screen,comfortable in mobiles*/
margin: auto;
}
/*header*/
ul.a {
list-style-type: none;/*without number or bullets*/
background-color: #ad8585;
padding: 50px;
}
li a:hover {background-color:#996666;/*the color of hover*/
}
li a {display: inline;/*display horizontal*/
float: right;/*the words is on the right site*/
padding: 8px 16px;/*the words have a distance between them and they are not on the center of the nav bar*/
color: white;/*the words color*/
text-decoration: none;}/*no further decoration*/
/*end of header*/
/*contact boxes*/
/*the type of box is text*/
input[type=text] {width: 70%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;/*the box width,the padding when we wrote and margin*/
color: #c2aaa3;}/*the color of the text when we write inside*/
input[type=text]:focus {border: 3px solid #000;}/*we can write text inside and the color of border change when we write inside of the box*/
/*textarea box*/
textarea
{width: 70%;/*the width  of text*/
height: 300px;}/*and height of the text*/
/*email box*/
input[type=email]/*here we write the address of email*/
{width: 70%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
color: #c2aaa3;}/*the box size and the color of text */
input[type=email]:focus {border: 3px solid#000;}/*its border and the color of border when we write inside*/
/*submit box*/
input[type=submit]:hover {background-color: #996666;}
input[type=submit]{width: 70%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
color: #c2aaa3;}
/*end of contact boxes*/
/*footer*/
footer {background-color: #ad8585;
color: #ebe0e0;}
/*flexboxes*/
.flex-container {display: -webkit-flex;/*i use chrone*/
display: flex;
-webkit-flex-direction: column;
max-width: 300px;
height: 200px;}
.flex-item {
width: 160px;
height: 50px;
margin: 5px;}
/*end of flexboxes*/
.copuright{text-align: right;}
/*footer*/
/*image book center*/
img.book {max-width: 750px;/*width depend of the screen,comfortable in mobiles*/
height: auto;}
.container {position: relative;
color: white;}
.bottomright {position: absolute;
bottom:8px;
right: 16px;
font-size: 18px;}
/*end of image book center*/
/*gallery images*/
div.stackofbooks {display: inline-block;
margin: 15px;
width: auto;
height: auto;
margin: auto;
padding:45px; }
div.description {padding: 10px 20px;
text-align: center;}
div.oldbooks {display : inline-block;
margin: 15px;
margin: auto;
width: auto;
padding-left: 45px;}
div.descr {padding: 15px;
text-align: center;}
/*box in index page*/
div.fotobox{max-width: 750px;
border: 5px solid #ad8585;
padding: 20px;
margin:20px;
margin-bottom: 60px;
margin-top: 20px;}
